#app4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app4>.round {
  width: 15vw;
  height: 15vw;
  background: black;
  border-radius: 50%;
}

#app4>.color {
  animation: color 1s infinite;
}

@keyframes color {
  0% {
    background: #008c8c;
  }

  33% {
    background: #03ad4a;
  }

  66% {
    background: #57d304;
  }

  100% {
    background: #e79907;
  }
}